<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(username){ %>
    <div class="display-username">
      <form method="POST" action="/logout">
        <h5 style="margin:28px 20px 0 0;float: left;">Logged In As: <%= username %></h5>
        <button class="btn btn-primary" style="float: right; margin: 20px 0;">Logout</button>
      </form>
    </div>
    <% } else{%>
    <div>
      <form method="POST" action="/login">
        <label for="username" style="font-size: 20px;">Username:</label>
        <input type="text" name="username" id="username" style="margin: 0 10px;" placeholder="Username">
        <button class="btn btn-primary" style="margin: 20px 0;">Login</button>
      </form>
    </div>
    <% } %>
  </nav>
  <div style="clear: both"></div>
</header>